<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @turatsinze.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @turatsinze.lastname %>
</p>

<%= link_to 'Edit', edit_turatsinze_path(@turatsinze) %> |
<%= link_to 'Back', turatsinzes_path %>
