<%= form_with(model: calculato, local: true) do |form| %>
  <% if calculato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(calculato.errors.count, "error") %> prohibited this calculato from being saved:</h2>

      <ul>
      <% calculato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname %>
  </div>

  <div class="field">
    <%= form.label :firstnumber %>
    <%= form.number_field :firstnumber %>
  </div>

  <div class="field">
    <%= form.label :operator %>
    <%= form.text_field :operator %>
  </div>

  <div class="field">
    <%= form.label :secondnumber %>
    <%= form.number_field :secondnumber %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
